{% extends "layout.html" %}
{% block page %}
    {% if about != None %}
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ about.banner and about.banner|resize('750x450', upscale=False) or '//placehold.it/750x450' }}" alt="">
            </div>
            <div class="col-md-6">
                <h2>{{ about.title }}</h2>
                {{ about.body|truncate(1000, True)|markdown }}
                <a class="btn btn-primary" href="{{ about.url }}">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{ data.title }}</h2>
        </div>
        {% for i in data.chief %}
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ i.banner and i.banner|resize('750x450', upscale=False) or '//placehold.it/750x450' }}" alt="">
                    <div class="caption">
                        <h3>{{ i.title }}<br>
                            <small>{{ i.role }}</small>
                        </h3>
                        {{ i.body|truncate(200, True)|markdown }}
                        <p><a href="{{ i.url }}" class="btn btn-primary" role="button">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for i in data.team %}
            <div class="col-md-4 img-portfolio">
                <img class="img-responsive img-hover" src="{{ i.banner and i.banner|resize('700x400', upscale=False) or '//placehold.it/700x400' }}" alt="">
                <h3>
                    <a href="{{ i.url }}">{{ i.title }}</a>
                </h3>
                {{ i.body|truncate(200, True)|markdown }}
            </div>
        {% endfor %}
    </div>
{% endblock %}