{% extends "layout.html" %}
{% import "widgets.html" as widgets %}
{% block carousel %}
    {{ widgets.carousel([{'file': 'img/1.jpg', 'title':'China', 'subtitle': 'The atmosphere in Chania has a touch of Florence and Venice.'},
    {'file':'img/2.png', 'title':'yyyyyyyyyy', 'subtitle': 'aaaaaaaaaaaa'}]) }}
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Welcome to {{ laboratory }}</h2>
        </div>
        {% for i in data.info %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ i.title }}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{ i.body }}</p>
                        <a href="{{ i.url }}" class="btn btn-default">{{ i.link }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Projects</h2>
        </div>
        <div class="col-md-6">
            <p>{{ data.projects.title }}</p>
            <ul>
                {% for i in data.projects.list %}
                    <li>
                        {% if loop.index == 1 %}
                            <strong>{{ i }}</strong>
                        {% else %}
                            {{ i }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <p>{{ data.projects.foot }}</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{{ data.projects.img }}" alt="700x450">
        </div>
    </div>
    <!-- /.row -->
{% endblock %}