{% extends "layout.html" %}
{% from "macroses.html" import carousel as carousel_macros %}
{% block carousel %}
    {{ carousel_macros(carousel) }}
{% endblock %}
{% block page %}
    <div class="row">
        {% for i in info %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-{{ i.glyph }}" aria-hidden="true"></span> {{ i.title }}</h4>
                    </div>
                    <div class="panel-body">
                        {{ i.body|truncate(200, True)|markdown }}
                        <a href="{{ url_for('.blog_post', post=i.id) }}" class="btn btn-default">
                            Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}