{% extends "layout.html" %}
{% import "widgets.html" as widgets %}
{% block carousel %}
    {{ widgets.carousel(carousel) }}
{% endblock %}
{% block page %}
    <div class="row">
        {% for i in info %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ i.title }}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{ i.body }}</p>
                        <a href="{{ i.url }}" class="btn btn-default">
                            Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Projects</h2>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                {% for i in projects %}
                    <a href="{{ i.url }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ i.title }}</h4>
                        <p class="list-group-item-text">{{ i.body }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% set selected_banner = projects|random %}
            <a href="{{ selected_banner.url }}">
                <img class="img-responsive" src="{{ selected_banner.banner }}" alt="700x450">
            </a>
        </div>
    </div>
{% endblock %}