{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block navbar %}
    {{ nav.top_nav.render(renderer='myrenderer') }}
{% endblock %}

{% block content %}
    {% block carousel %}{% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}
                    <small>{{ subtitle }}</small>
                </h1>
            </div>
        </div>

        {% block page %}{% endblock %}

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; {{ laboratory }} {{ year().strftime("%Y") }}</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}

{% block styles -%}
    {{super()}}
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">
{% endblock styles %}