{% extends "layout.html" %}
{% block page %}
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Preview Image -->
            <img class="img-responsive" src="{{ post.banner and post.banner|resize('900x300', upscale=False) or '//placehold.it/900x300&text=No Graphical Abstract' }}" alt="">
            <hr>

            <!-- Post Content -->
            {{ post.body|markdown }}

            {% if special_field %}
                {{ special_field|markdown }}
            {% endif %}

            {% if post.attachment %}
                <a href="{{ post.attachment }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Download
                </a>
            {% endif %}

            {% if special_form %}
                <hr>
                {{ wtf.quick_form(special_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
            {% endif %}

            <hr><!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.date }}. <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ post.author }}</p>

            {% if remove_form and edit_form %}
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Post
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-8">
                                    {{ wtf.quick_form(edit_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Post
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-8">
                                    {{ wtf.quick_form(remove_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            {% if children %}
                <ul class="nav list-group">
                    {% for i in children %}
                        <li>
                            <a href="{{ i.url }}">{{ i.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if info %}
                {% for i in info %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-{{ i.glyph }}" aria-hidden="true"></span> {{ i.title }}</h4>
                        </div>
                        <div class="panel-body">
                            {{ i.body|truncate(200, True)|markdown }}
                            <a href="{{ i.url }}" class="btn btn-default">
                                Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}