{% extends "layout.html" %}
{% block page %}
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Posted on {{ post.date }}</p>
            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{ post.banner if post.banner else '//placehold.it/900x300' }}" alt="">
            <hr>

            <!-- Post Content -->
            {{ post.body|markdown }}

            {% if post.special_field != None %}
                {{ post.special_field }}
            {% endif %}

            {% if post.attachment %}
                <a href="{{ post.attachment }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Download
                </a>
            {% endif %}
            {% if editable %}
                <a href="?edit=edit" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                </a>
            {% endif %}
            {% if removable %}
                <a href="?edit=delete" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
            {% endif %}

            {% if post.special_form != None %}
                <hr>
                {{ wtf.quick_form(post.special_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
            {% endif %}

            {% if form != None %}
                <div class="well">
                    {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                </div>
            {% endif %}
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            {% for i in info %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ i.title }}</h4>
                    </div>
                    <div class="panel-body">
                        {{ i.body|truncate(200, True)|markdown }}
                        <a href="{{ i.url }}" class="btn btn-default">
                            Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}