{% extends "layout.html" %}
{% block styles %}
    {{super()}}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.fd.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/loader.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/predictor.css') }}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
    {{super()}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css"></script>
    <script src="{{ url_for('static', filename='js/router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.fd.js') }}"></script>

    <script src="{{ url_for('static', filename='marvinjs/gui/lib/promise-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/webservices.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/marvinjslauncher.js') }}"></script>

    <script src="{{ url_for('static', filename='js/predictor/slider-list.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/select-setting.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/image-edit.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/chem-editor.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/app.js') }}"></script>
{% endblock scripts %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-custom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button id="upload" class="btn btn-file navbar-btn">
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    </div>
                    <div class="navbar-right-btn">
                        <ul class="nav navbar-nav">
                            <li id="dropdown" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Tasks <span class="caret"></span>
                                </a>
                                <ul id="task" class="dropdown-menu">
                                    <li><a>modelling task</a></li>
                                    <li><a>result task</a></li>
                                </ul>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary start navbar-btn" id="validate" disabled="true"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Validating...">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            <span>Validate</span>
                        </button>
                        <button type="button" class="btn btn-danger start navbar-btn" id="newstructure" style="display: none"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Revalidating...">
                            <i class="glyphicon glyphicon-repeat"></i>
                            <span>Revalidate</span>
                        </button>
                        <button type="button" class="btn btn-primary start navbar-btn" id="modelling" style="display: none"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Modelling...">
                            <i class="glyphicon glyphicon-play-circle"></i>
                            <span>Modelling</span>
                        </button>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-lg-12">
            <div id="error-messange" class="alert alert-danger alert-custom" role="alert">
                <span class="text"></span>
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>

        <div id="index" class="col-lg-12" style="display: none"></div>
        <div id="model" class="col-lg-12" style="display: none"></div>
        <div id="result" class="col-lg-12" style="display: none"></div>

    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-content-custom">
                <div class="modal-body">
                    <iframe id="marvinjs-iframe" data-toolbars="reaction" src="{{ url_for('static', filename='marvinjs/editorws.html') }}"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Discard changes</button>
                    <button id="close-modal" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}