{% extends "layout.html" %}
{% block styles %}
    {{super()}}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/loader.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/predictor.css') }}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
    {{super()}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="{{ url_for('static', filename='js/router.js') }}"></script>

    <script src="{{ url_for('static', filename='marvinjs/gui/lib/promise-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/webservices.js') }}"></script>
    <script src="{{ url_for('static', filename='marvinjs/js/marvinjslauncher.js') }}"></script>

    <script src="{{ url_for('static', filename='js/predictor/slider-list.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/select-setting.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/image-edit.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/chem-editor.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictor/handlebars.js') }}" id="result-tmp" type="text/x-handlebars-template"></script>
{% endblock scripts %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-custom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <label id="upload" class="btn btn-default btn-file navbar-btn" data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Uploading...">
                            <i class="glyphicon glyphicon-upload"></i> Browse
                            <form id="upload-file" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                                <input  type="file" name="structures" style="display: none;" />
                            </form>
                        </label>
                    </div>
                    <div class="navbar-right-btn">
                        <button type="button" class="btn btn-primary start navbar-btn" id="validate" disabled="true"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Validating...">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            <span>Validate</span>
                        </button>
                        <button type="button" class="btn btn-danger start navbar-btn" id="newstructure" style="display: none"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Revalidating...">
                            <i class="glyphicon glyphicon-repeat"></i>
                            <span>Revalidate</span>
                        </button>
                        <button type="button" class="btn btn-primary start navbar-btn" id="modelling" style="display: none"
                                data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Modelling...">
                            <i class="glyphicon glyphicon-play-circle"></i>
                            <span>Modelling</span>
                        </button>
                        <button  type="button"
                                 class="btn btn-danger navbar-btn"
                                 id = "saving"
                                 data-loading-text="<i class='glyphicon glyphicon-refresh spinning'></i> Saving..."
                                 style="display: none">
                            <i class="glyphicon glyphicon-floppy-save"></i>
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-lg-12">
            <div id="error-messange" class="alert alert-danger alert-custom" role="alert">
                <span class="text"></span>
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>

        <div id="index" class="col-lg-12" style="display: none"></div>
        <div id="model" class="col-lg-12" style="display: none"></div>
        <div id="result" class="col-lg-12" style="display: none"></div>
    </div>

    <div id="myModal" class="predictor-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-content-custom">
                <div class="modal-body">
                    <iframe id="marvinjs-iframe" data-toolbars="reaction" src="{{ url_for('static', filename='marvinjs/editorws.html') }}"></iframe>
                </div>
                <div class="modal-footer">
                    <button id="close-wo-save" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button id="close-modal" type="button" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{super()}}
    <div id="loader" class="cssload-container" style="display: none">
        <div class="cssload-speeding-wheel"></div>
    </div>
{% endblock body %}