{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block page %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profile Editor
                <small>{{ user.get_email() }}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        {{ utils.flashed_messages() }}
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Log out on all devices
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-md-8">
                                {{ wtf.quick_form(re_login_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Change password
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-md-8">
                                {{ wtf.quick_form(change_passwd_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                {% if user.get_role().value %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Change User Role
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-8">
                                    {{ wtf.quick_form(change_role_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    New Blog Post
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-8">
                                    {{ wtf.quick_form(new_post_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    Ban User
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-8">
                                    {{ wtf.quick_form(ban_form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                {% endif %}
            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}