{% macro carousel(data, _id="myCarousel") -%}
    <header id="{{ _id }}" class="carousel slide">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            {% for i in data %}
                <li data-target="#{{ _id }}" data-slide-to="{{loop.index}}" class="{{ 'active' if loop.first }}"></li>
            {% endfor %}
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for i in data %}
                <div class="item {{ 'active' if loop.first}}">
                    <a href="{{ i.url }}">
                        <div class="fill" style="background-image:url('{{ i.banner if i.banner else '//placehold.it/1900x1080' }}');"></div>
                        <div class="carousel-caption">
                            <h2>{{ i.title }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#{{ _id }}" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#{{ _id }}" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
{%- endmacro %}