html{
	font-family: "Titillium",  Cambria, Helvetica, Arial, Geneva, sans-serif !important;
	padding: auto;
	width: 100%;
	height: 100%;
}

body {
	margin: 20px;
}

.div {
    margin: 5px;
}

.button {
    margin:2px;
}
 
iframe{
	border:none;
	padding: 0px;
	margin: 0px;
	box-shadow: 2px 2px 3px #888;
}

.sketcher-frame {
	margin: -2px;
	resize: none;
	min-width: 500px;
	min-height: 400px;
/*
	height: 100%;
	width: 100%;
*/
	overflow: hidden;
	
}

.resizable{
	border: none;
	padding: 0px 8px 8px 0px;
	border: 0px;
	resize: both;
	/*
	width: 880px;
	height: 460px;
	*/
	min-width: 500px;
	min-height: 400px;
	overflow: auto;
	background-color: transparent;
}

 

 
 

 
