{% extends "layout.html" %}

    {% block heading %}

		<div class="heading">
			<h1>Home</h1>
			<div class="progress" style="display:none">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">10%
                </div>

            </div>
		</div>
    {% endblock %}
    {% block body %}
		<div class="row">
			<aside class="col-md-4">
				<ul class="list-group submenu" style="display: none">
                    <li class="list-group-item"><a href="{{ url_for('models') }}">models&nbsp;descriptions</a></li>
                    <li class="list-group-item"><a href="{{ url_for('solvents') }}">solvents</a></li>
				</ul>
			</aside>
			<section class="col-md-20">


                <div class="row">

                    <h3>Welcome to Kazan Federal University Chemoinformatics and molecular modeling lab</h3>

                    <img src="{{ url_for('static', filename='images/ksu_lab.jpg') }}" width="800">
                </div>


			</section>
		</div>
	{% endblock %}
