<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Marvin JS - v15.2.23</title>
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- Progress -->
<link type="text/css" rel="stylesheet" href="/static/css/nprogress.css" />

<script src="/static/js/lib/jquery-1.9.1.min.js"></script>
<script src="/static/gui/lib/promise-0.1.1.min.js"></script>
<script src="/static/js/marvinjslauncher.js"></script>
<script src="/static/js/predictor.js"></script>
<script src='/static/js/nprogress.js'></script>



</head>
<body>

<div class="resizable"  style="display:inline-block" id="div-editor">
    <iframe src="/static/editorws.html" id="sketch" data-toolbars="reporting" class="sketcher-frame"></iframe>
</div>

<div style="display:inline-block;vertical-align: top;">
    <div id="container">
         <form id="upload-file" method="post" enctype="multipart/form-data">

             <div style="margin-bottom:4px;margin-top:4px;">
                <input name="file" id="file" type="file" >
             </div>
             <div style="margin-bottom:4px;margin-top:4px;">
                <button id="upload-file-btn" type="button" class="btn btn-primary">Upload file</button>
             </div>
         </form>
    </div>
    <div>
        <input type="button" id="btn-upload-data" value="Upload reaction" class="btn btn-primary"/>
<br/>
        <input type="button" onclick="return set_task_status($('#task_id').val(),MAPPING_DONE)" value="DEBUG: map реакцию"/>
<input type="button" onclick="return set_task_status($('#task_id').val(),MODELLING_DONE)" value="DEBUG: modelling  done"/>
 <input type="button" onclick="return load_task_reactions( '3' )" value="DEBUG: load реакции"/>
    </div>

    <div id="reactions-pnl" style="display:none">

        <h3>Reactions</h3>
    <form id="reactions-form">
        <table id="reactions-table" class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Model</th>
                <th>Solvent</th>
                <th>Temperature</th>
            </tr>
            </thead>
            <tbody id="reactions-tbody"></tbody>

        </table>
        <input type="hidden" id="task_reaction_ids" name="task_reaction_ids" value="" />
    </form>
        <input type="button" value="Start modelling" onclick="upload_reaction_form()" class="btn btn-primary" />
    </div>

    <div id="results-pnl" style="display:none">
        <h3>Modelling results</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Reaction</th>
                    <th>Model</th>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody id="results-tbody"></tbody>
        </table>
    </div>
</div>

<input id="task_id" type="hidden" value=""/>
<input id="reaction_id" type="hidden" value=""/>




</body>
</html>
